body {
	text-align: center;
	background-color: #d9f0ff;
}

h1 {
	font-family: 'Signika', sans-serif;
	font-size: 4.5em;
    font-weight: 1000;
    letter-spacing: .1em;
	color: #0069bf;
}

.high {
	color: red;
}

.low {
	color: blue;
}

#count-container {
	display: inline-block;
	background-color: white;
	height: 100px;
    width: 100px;
	border-radius: 10px;
	font-size: 4.5em;
    font-weight: bold;
}

.centered {
    vertical-align: middle;
    display: inline-block;
}

button {
    background-color: #ccc;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    padding: 0px 10px;
    margin: 0 10px;
}

#subtract {
    height: 50px;
    width: 50px;
}

#subtract:hover {
    border: none;
    background: blue;
}

#add {
    height: 50px;
    width: 50px;
}

#add:hover {
    border: none;
    background: red;
}

#reset {
    font-size: 30px;
}

#reset:hover {
    border: none;
    background: green;
}